*{
    margin: 0;
    font-family: 'Quicksand';
    font-weight: 600;
color: rgb(74, 74, 74);
}
:root{
    --background--header:rgb(253,228,195);
}
header{
    height: 90vh;
    background: url('https://stone-horn-a78.notion.site/image/https%3A%2F%2Fprod-files-secure.s3.us-west-2.amazonaws.com%2F989539c7-7a6d-4611-9778-eb2623dec992%2F0ba5b70c-e4de-4e4b-87f9-3f873e0e9849%2FsoupHedar.jpg?table=block&id=6aa2b88f-5ac7-4843-8b09-4b6d0e35b988&spaceId=989539c7-7a6d-4611-9778-eb2623dec992&width=2000&userId=&cache=v2') no-repeat ;

background-position: right 30% bottom 10%; ;
position: relative;
border-bottom:10px solid rgb(28, 28, 42) ;
}
h1{
    font-size: 6em;
    position: absolute;
    bottom: 50%;
    left: 10%;

    color: rgb(255, 255, 255);
}
header img{
    position: absolute;
    bottom: -25%;
    left: 40%;
    transition:  2s;
    /* transform: translate(-50%,0); */
}

.imgRotate:hover{
    transform: rotate(180deg);
}
main{
    text-align: center;

    margin-top: 10%;
}
main p{
text-align: justify;
    padding:3% 10%;
    font-size:2em;
}

hr{
    
    width: 80%;
    margin:  0 auto;
    height: 1px;
    background-color: black;
}
.section2{
    font-size: 1.6em;

    margin: 7% 10%;
    text-align: start;
}
section span{ 
    margin-bottom:300px; 
    padding: 0px 13px; 
font-size: 1.36em;
    border-radius: 50%;
    background-color: var(--background--header);

}
.section2 img{
    text-align: center;
}
section ul{
    list-style-type: '-';
}

ol {
text-align: justify;}
ol li::before{
    content:') ';
}


